Source: vulkan-headers
Section: libdevel
Priority: optional
Maintainer: Brett Johnson <brett@lunarg.com>
Build-Depends: debhelper (>=10), cmake, quilt
Standards-Version: 4.1.3
Homepage: https://github.com/KhronosGroup/Vulkan-Headers
Vcs-Git: 
Vcs-Browser: 

Package: vulkan-headers
Architecture: all
Depends: ${misc:Depends}
Breaks: libvulkan-dev
Replaces: libvulkan-dev
Description: Vulkan Header files and API registry
